<section class="digital-banking-section">


    <div class="digital-left">


        <span 
            class="section-tag"
            data-i18n="home.digitalBanking.tag">
            DIGITAL BANKING
        </span>



        <h2 data-i18n="home.digitalBanking.title">
            Digital Banking Excellence
        </h2>



        <p data-i18n="home.digitalBanking.description">
            Manage your wealth securely through a powerful digital banking
            platform designed for modern private clients.
        </p>




        <div class="digital-features">



            <div class="digital-feature">


                <i class="fa-solid fa-shield-halved"></i>


                <span data-i18n="home.digitalBanking.security">
                    Advanced Security
                </span>


            </div>





            <div class="digital-feature">


                <i class="fa-solid fa-globe"></i>


                <span data-i18n="home.digitalBanking.access">
                    Global Access
                </span>


            </div>





            <div class="digital-feature">


                <i class="fa-solid fa-chart-line"></i>


                <span data-i18n="home.digitalBanking.control">
                    Complete Financial Control
                </span>


            </div>



        </div>


    </div>





    <div class="digital-right">


        <img
            src="assets/digital-banking.jpg"
            alt="Digital Banking Platform">


    </div>



</section>