<footer class="footer">


    <div class="footer-top">


        <h2 data-i18n="footer.cta.title">
            Experience Private Banking Without Compromise
        </h2>


        <p data-i18n="footer.cta.description">
            Open your Belgrave Private Bank account today and enjoy
            personalized banking, global wealth management, secure digital
            banking, and dedicated financial expertise tailored to your goals.
        </p>



        <div class="footer-buttons">


            <a
                href="signup.html"
                class="btn"
                data-i18n="common.buttons.openAccount">

                Open an Account

            </a>



            <a
                href="login.html"
                class="btn secondary"
                data-i18n="common.buttons.login">

                Online Banking

            </a>


        </div>


    </div>




    <hr>





    <div class="footer-grid">



        <div>


            <div class="footer-brand">


                <img
                    src="assets/logo.png"
                    alt="Belgrave Private Bank Logo"
                    class="footer-logo">


                <div>

                    <h3 data-i18n="footer.brand.name">
                        Belgrave
                    </h3>


                    <span data-i18n="footer.brand.subtitle">
                        PRIVATE BANK
                    </span>

                </div>


            </div>



            <p data-i18n="footer.brand.description">

                Delivering bespoke private banking, international wealth
                management, investment advisory, and secure financial solutions
                for individuals, families, and institutions worldwide.

            </p>


        </div>






        <div>


            <h4 data-i18n="footer.services.title">
                Our Services
            </h4>



            <p>
                <a href="#banking" data-i18n="footer.services.privateBanking">
                    Private Banking
                </a>
            </p>



            <p>
                <a href="#wealth" data-i18n="footer.services.wealthManagement">
                    Wealth Management
                </a>
            </p>



            <p>
                <a href="#security" data-i18n="footer.services.security">
                    Security & Protection
                </a>
            </p>



            <p>
                <a href="contact.html" data-i18n="footer.services.contact">
                    Contact Us
                </a>
            </p>


        </div>






        <div>


            <h4 data-i18n="footer.contact.title">
                Contact
            </h4>



            <p>

                <i class="fa-solid fa-envelope"></i>


                <a href="mailto:support@belgraveprivatebank.com">
                    support@belgraveprivatebank.com
                </a>


            </p>




            <p>

                <i class="fa-brands fa-whatsapp"></i>


                <a href="https://wa.me/4571334357">
                    +45 71 33 43 57
                </a>


            </p>




            <p>

                <i class="fa-solid fa-location-dot"></i>

                <span data-i18n="footer.contact.location">
                    Copenhagen, Denmark
                </span>

            </p>



        </div>





    </div>




    <hr>





    <p
        class="copyright"
        data-i18n="footer.legal.disclaimer">

        Belgrave Private Bank provides private banking and wealth management
        services. Products and services may not be available in every
        jurisdiction and are subject to applicable laws, regulations, and
        eligibility requirements.

    </p>



</footer>