<!-- ==========================================================
     ACTION MODAL
========================================================== -->

<div id="actionModal" class="action-modal">

    <div class="action-modal-content">

        <div id="modalIcon" class="action-modal-icon">
            💳
        </div>

        <h2 id="modalTitle">
            Belgrave Private Bank
        </h2>

        <div id="modalMessage">
            Message
        </div>

        <button
            class="action-modal-button"
            onclick="closeActionModal()">

            Close

        </button>

    </div>

</div>